@font-face {
    font-family: Titlefont;
    src: url(FetteMikado.ttf);
}

@font-face {
    font-family: mainFont;
    src: url(DJB%20Tweenybopper.ttf);
}

@font-face {
    font-family: selectFont;
    src: url(DJB%20Constance%20Beauregard.ttf);
}

body {
    background-color: #00CC66;
    /*background-image: url("10876573_10152965849142288_705157134_o.jpg");*/
    color: #00CC00;
}

.mainHeader {
    width: 99%;
    float: left;
    background-color: #DAFFCD;
    border: #005000 solid;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.mainHeader span:first-child {
    width: 100%;
    float: left;
    font-family: Titlefont;
    font-size: 9em;
    text-align: center;
    font-weight: bold;
}

.mainHeader span:nth-child(2) {
    width: 100%;
    float: left;
    font-family: Arial;
    font-size: 1em;
    text-align: center;
    color: black;
}

.mainFooter {
    width: 99%;
    float: left;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border: #005000 solid;
    background-color: #DAFFCD;
}

.mainFooter p {
    width: 92%;
    margin: 1% auto;
    text-align: right;
}

.mainFooter p span {
    color: black;
    font-weight: bolder;
}

.mainContainer {
    float: left;
    width: 40%;
    background-color: #DAFFCD;
    text-align: center;
    font-family: mainFont;
    font-size: 25px;
    font-weight: bold;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border: #005000 solid;
    margin: 2.5% 30%;
}

.mainContainer ul li {
    list-style: none;
    padding: 1% 0;
}

.mainContainer ul li a:link, .mainContainer ul li a:visited {
    text-decoration: none;
    color: #33D633;
}

.mainContainer ul li a:hover {
    text-decoration: none;
    background-color: #33D633;
    color: white;
}

select {
    font-family: selectFont;

}

.logs {
    float: left;
    background-color: #DAFFCD;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border: #005000 solid;
    margin: 2.5% 15%;
    width: 70%;
}

.logs table {
    border: solid;
    border-collapse: collapse;
    border-spacing: 0px;
    padding: 0px;
}

.logs table td {
    font-family: Calibri;
    padding: 5px;
    font-size: large;
    border-left: 1px solid #808080;
    border-right: 1px solid #808080;
}

.logs table td:first-child {
    border-left: none;
}

.logs table td:last-child {
    border-right: none;
}

.logs th {
    font-family: Calibri;
    font-weight: bold;
    color: white;
    background-color: #59BD09;
    opacity: 0.8;
    text-align: left;
    height: 30px;
    font-size: large;
    padding: 5px;
    border-left: 1px solid #808080;
    border-right: 1px solid #808080;
    border-bottom: 1px solid #808080;
}

.logs table th:first-child {
    border-left: none;
}

.logs table th:last-child {
    border-right: none;
}

.logs tr:nth-child(2n) {
    background-color: #ECECD8;
}




