@font-face {
    font-family: Titlefont;
    src: url(FetteMikado.ttf);
}

@font-face {
    font-family: mainFont;
    src: url(DJB%20Tweenybopper.ttf);
}

body {
    background-color: #00CC66;
    color: #00CC00;
}

.mainHeader {
    position: absolute;
    left: 0.3%;
    top: 1%;
    width: 99%;
    float: left;
    background-color: #DAFFCD;
    border: #005000 solid;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    margin-bottom: 2%;
}

.mainHeader span:first-child {
    width: 100%;
    float: left;
    font-family: Titlefont;
    font-size: 9em;
    text-align: center;
    font-weight: bold;
}

.mainHeader span:nth-child(2) {
    width: 100%;
    float: left;
    font-family: Arial;
    font-size: 1em;
    text-align: center;
}

.mainFooter {
    width: 99%;
    float: left;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border: #005000 solid;
    background-color: #DAFFCD;
    position: fixed;
    left: 0.3%;
    bottom: 1%;
}

.mainFooter p {
    width: 92%;
    margin: 1% auto;
    text-align: right;
}

.mainFooter p span {
    color: black;
    font-weight: bolder;
}

.mainContainer {
    position: absolute;
    top: 45%;
    float:left;
    width: 40%;
    background-color: #DAFFCD;
    text-align: center;
    font-family: mainFont;
    font-size: 25px;
    font-weight: bold;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border: #005000 solid;
    margin-left: 30%;
}



.mainContainer ul li {
    list-style: none;
    padding: 1% 0;
}

.mainContainer ul li a:link, .mainContainer ul li a:visited {
    text-decoration: none;
    color: #33D633;
}

.mainContainer ul li a:hover {
    text-decoration: none;
    background-color: #33D633;
    color: white;
}
